:root {
  /* FONTS */
  --font-family: "Montserrat", sans-serif;
  --font-weight: 100;
  --font-size: 14px;
  --font-size-2: 20px;

  --icon-size: 22px;

  /* ELEMENTS */
  --border-radius: 14px;
  --modal-border-radius: 35px;
  --animation-properties: 30ms ease-in-out;
  --animation-properties: 30ms ease-in-out;

  /* RESPONSIVE */
  --res-font-size: 22px;
}
